 <style>
        .container {
            
            display: grid;
            grid-template-columns: 10vw 70vw 20vw;
            grid-template-rows: 20vh 75vh 5vh;
            grid-template-areas: 
                   "header header header"
                   "sidebar-1 content sidebar-2"
                   "footer footer footer";
            column-rule: 2px solid rgb(0, 255, 0);
            border-radius: 5px;

        }

        .header {
            position: fixed;
            display: grid;
            width: ;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            min-height: 60px;
            
            border: 2px solid rgb(27, 202, 27);
            border-radius: 5px;
            column-rule: 2px solid rgb(0, 255, 0);
            background-color: ;
}
    
        .logo { 
             position: fixed; 
             display: grid;
             min-width: 100px;
             min-height: 60px;
             max-height: 60px;
             grid-column-start: 1;
             grid-column-end: 2;
             grid-row-start: 1;
             grid-row-end: 2;
             font-size: 23px;
             color:red;
             text-align: center;
             line-height: 50px;
             padding:  ;
             border: 2px solid rgb(27, 202, 27);
             border-radius: 5px;
             column-rule: 2px solid rgb(11, 12, 11);
             background-color: rgb(233, 245, 236);
           
        }
        .actu {
            position: fixed;
            display: grid;
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            
            max-height: 60px;
            margin-left: 100px;
            border: 2px solid rgb(27, 202, 27);
            color: rgb(27, 202, 27);
            font-size: 25px;
            border-radius: 5px;
            column-rule: 2px solid rgb(0, 255, 0);
            background-color: rgb(56, 83, 102);

        }
        .content {
            grid-area: content;
            background-color: blueviolet;
        }
        .footer {
            display: grid;
            grid-area: footer;
            border: 5px solid rgb(27, 202, 27);
            border-radius: 5px;
            background-color: rgb(56, 83, 102);
        }
        .actu li {
            display: inline-block;
            
            border: 2px solid red;
            padding: 6px;
            margin-bottom: 30px;
            line-height: 6px;
            font-size: 15px;
            border-radius: 5px;
            background-color: rgb(238, 247, 238);
        }
    </style>
</head>
<body>
  <div class="container">
    <div class="header">
        <div class="logo">
            E-space
        </div>
       
    
        <div class="actu"> 
            <ul>
              <li>
                <a href="{{path('app_acceuil')}}">Acceuil</a>
              </li>
              <li>
                <a href="{{path('app_amis')}}">AMIS</a>
              </li>
              <li>
                <input type="search" id="recherche"> Rechercher
              </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <ul>
            <li>
                Groupe1
            </li>
            <li>
                Groupe2
            </li>
            <li>
                Groupe3
            </li>
            <li>
                Groupe4
            </li>
            <li>
                Groupe5
            </li>
        </ul>
    </div>